@use 'variables' as v

.btn
    all: inherit
    text-decoration: none
    display: inline-block
    border: 1.5px solid black
    border-radius: 3px
    background-color: v.$fourth-color
    color: v.$light-text-color
    padding: 3px 7px
    cursor: pointer

    &:hover
        background-color: v.$main-color

.delete-btn
    font-weight: bold
    text-decoration: none
    color: v.$error-color
    border: 1px solid v.$error-color
    background-color: inherit
    padding-block: 0.1rem
    padding-inline: 0.7rem
    text-transform: uppercase

    &:hover
        background-color: v.$error-color
        color: v.$sec-color

    &:active
        translate: 1px 1px
