<html>
  <body>
    <header>
      <div class="container header">
        <h1>Shop</h1>
        <div class="header-nav">
          <a href="/">Home</a>
          <a href="/admin/add-product">Add Product</a>
          <a href="/admin/products">Admin Products</a>
          <a href="/cart">Cart</a>
        </div>
      </div>
    </header>
</html>
