<html>
  <body>
    <div class="container">
      <header>
        <h1>Shop</h1>
        <div class="header-nav">
          <a href="/">Home</a>
          <a href="/admin/add-product">Add Product</a>
        </div>
      </header>
</html>
