<%- include('modules/head'); %><%- include('modules/header'); %>
<html>
  <!-- <body> -->
    <!-- <div class="container"> -->
      <div class="add-product-wrapper">
        <form action="/admin/add-product" method="POST">
          <div class="input-wrapper">
            <label class="input-label" for="title">Title</label>
            <input id="title" name="title" type="text" />
          </div>
          <div class="input-wrapper">
            <label class="input-label" for="price">Price</label>
            <input id="price" name="price" type="number" />
          </div>
          <div class="input-wrapper">
            <label class="input-label" for="author">Author</label>
            <input id="author" name="author" type="text" />
          </div> 
          <div class="input-wrapper">
            <label class="input-label" for="image-link">Image link</label>
            <input id="image-link" name="image-link" type="text" />
          <div>
        </form>
      </div>
    </div>
  </body>
</html>
